In [62]:
!pip install pyLDAvis

Requirement already satisfied: pyLDAvis in c:\users\antonia\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: numexpr in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (2.7.3)

ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: 'c:\\users\\antonia\\anaconda3\\lib\\site-packages\\scikit_learn-0.23.2.dist-info\\METADATA'

Requirement already satisfied: jinja2 in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (3.0.2)
Requirement already satisfied: setuptools in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (58.0.4)
Requirement already satisfied: future in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (0.18.2)
Requirement already satisfied: scipy in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (1.5.2)
Requirement already satisfied: joblib in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (1.1.0)
Requirement already satisfied: gensim in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (3.8.3)
Collecting numpy>=1.20.0
  Downloading numpy-1.22.4-cp38-cp38-win_amd64.whl (14.8 MB)
Requirement already satisfied: pandas>=1.2.0 in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (1.3.4)
Requirement already satisfied: sklearn in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (0.0)
Requirement already satisfied: funcy in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (1.17)
Requirement already satisfied: scikit-learn in c:\users\antonia\anaconda3\lib\site-packages (from pyLDAvis) (0.23.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\antonia\anaconda3\lib\site-packages (from pandas>=1.2.0->pyLDAvis) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\antonia\anaconda3\lib\site-packages (from pandas>=1.2.0->pyLDAvis) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\antonia\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyLDAvis) (1.15.0)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\antonia\anaconda3\lib\site-packages (from gensim->pyLDAvis) (5.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\antonia\anaconda3\lib\site-packages (from jinja2->pyLDAvis) (2.0.1)

In [ ]:
%run ../LibrariesAndFunctions/LibrariesFunctions.ipynb

In [ ]:
!pip install langdetect

# Dataset 1
### Only some of these datasets have book's description

In [81]:
books1 = pd.read_csv("book600k-700k.csv")
books2 = pd.read_csv("book700k-800k.csv")
books3 = pd.read_csv("book800k-900k.csv")
books4 = pd.read_csv("book900k-1000k.csv")
books5 = pd.read_csv("book1000k-1100k.csv")
books6 = pd.read_csv("book1100k-1200k.csv")
books7 = pd.read_csv("book1200k-1300k.csv")
books8 = pd.read_csv("book1300k-1400k.csv")
books9 = pd.read_csv("book1400k-1500k.csv")
books10 = pd.read_csv("book1500k-1600k.csv")
books11 = pd.read_csv("book1600k-1700k.csv")
books12 = pd.read_csv("book1700k-1800k.csv")
books13 = pd.read_csv("book1800k-1900k.csv")
books14 = pd.read_csv("book1900k-2000k.csv")
books15 = pd.read_csv("book2000k-3000k.csv")
books16 = pd.read_csv("book3000k-4000k.csv")
books17 = pd.read_csv("book4000k-5000k.csv")

booksNoDesc1 = pd.read_csv("book1-100k.csv")
booksNoDesc2 = pd.read_csv("book100k-200k.csv")
booksNoDesc3 = pd.read_csv("book200k-300k.csv")
booksNoDesc4 = pd.read_csv("book300k-400k.csv")
booksNoDesc5 = pd.read_csv("book400k-500k.csv")
booksNoDesc6 = pd.read_csv("book500k-600k.csv")


### Combine the datasets that include books with descripiton

In [82]:
books = pd.concat([books1, books2, books3, books4, books5, books6, books7, books8, books9, books10, books11, 
                            books12, books13, books14, books15, books16, books17], axis=0, join="outer", sort=False)
books.shape

(1512190, 21)

### Replace empty strings or strings with just a space with nan value.

In [83]:
#replace empty strings or string with just a space with nan value.
books["Description"] = books["Description"].replace(r'^\s*$', np.nan, regex=True)
                             
booksWithoutNanIsbn = books[books["ISBN"].notna()]
booksWithDescription =  booksWithoutNanIsbn[booksWithoutNanIsbn['Description'].notna()]
booksWithDescription.shape

(1168022, 21)

### Detect the nan values from above

In [84]:
booksWithNanDescription =  books[books['Description'].isna()]
booksWithNanDescription.shape

(341002, 21)

### Create dataset without book's description

In [85]:
booksNoDesc = pd.concat([booksNoDesc1, booksNoDesc2, booksNoDesc3, booksNoDesc4, booksNoDesc5, booksNoDesc6, booksWithNanDescription], axis=0, join="outer", sort=False)
booksNoDesc.shape

(679122, 21)

### Combine datasets with and without description. Remove duplicates on ISBN and book name. Separate again to datasets with and without description

In [86]:
allBooks = pd.concat([booksWithDescription, booksNoDesc], axis=0, join="outer", sort=False)

allBooksWithoutDuplicates = allBooks.drop_duplicates(subset=['Name']).reset_index(drop=True)
allBooksWithoutDuplicates = allBooksWithoutDuplicates.drop_duplicates(subset=['ISBN']).reset_index(drop=True)
print(allBooksWithoutDuplicates.shape)

booksWithDesc = allBooksWithoutDuplicates[~allBooksWithoutDuplicates['Description'].isna()].reset_index(drop=True)
booksWithoutDesc = allBooksWithoutDuplicates[allBooksWithoutDuplicates['Description'].isna()].reset_index(drop=True)
print(booksWithDesc.shape)
print(booksWithoutDesc.shape)

(1631743, 21)
(1062337, 21)
(569406, 21)

### Dataset before data cleaning process

In [50]:
booksWithDesc

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,...,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews,PagesNumber
0,600000,"Lessons Learned (Great Chefs, #2)",Nora Roberts,037351025X,3.74,1993,15,2,Silhouette,5:947,...,3:1061,2:287,1:63,total:3374,86,eng,250.0,LESSONS LEARNED...<br /><br />Coordinating the publicity tour for Italy's most famous--and most adorable--chef was just the kind of assignment Juliet relished. Carlo Franconi could gather a crowd ...,NaN,NaN
1,600001,Walking by Faith: Lessons Learned in the Dark,Jennifer Rothschild,0633099325,4.27,2003,1,1,Lifeway Church Resources,5:367,...,3:109,2:22,1:5,total:749,7,NaN,112.0,"At the age of fifteen, Jennifer Rothschild confronted two unshakable realities: Blindness is inevitable ... and God is enough. Now this popular author, speaker, and recording artist offers poignan...",NaN,NaN
2,600004,"The Blended Learning Book: Best Practices, Proven Methodologies, and Lessons Learned",Josh Bersin,0787972967,4.10,2004,1,10,Pfeiffer,5:8,...,3:6,2:0,1:0,total:20,3,NaN,319.0,<i>The Blended Learning Book</i> is your user's manual for implementing blended learning. It gives you a guidebook to combining the latest technologies with traditional training models to create h...,NaN,NaN
3,600005,Lessons Learned: Successes Achieved: Be Prepared for Disaster: Advice from Katrina Survivors,Robert G. Gillio,0595417566,3.00,2006,30,11,iUniverse,5:0,...,3:1,2:0,1:0,total:1,0,NaN,168.0,"""<b>Lessons Learned: Successes Achieved</b>"" will help motivate you to acquire the knowledge, skills, resources and desire to contribute to a more positive outcome when a disaster strikes. By shar...",NaN,NaN
4,600007,"Computing Calamities: Lessons Learned from Products, Projects, & Companies That Failed",Robert L. Glass,0130828629,5.00,1999,1,1,Prentice Hall,5:2,...,3:0,2:0,1:0,total:2,0,NaN,302.0,"Many great advances in technology have resulted from risky experimentation, but it's critical to remember and study the spectacular failures that also resulted from some of those risks. Failures c...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062086,4846428,"Disinfection and Decontamination: Principles, Applications and Related Issues",Gurusamy Manivannan,0849390745,0.00,2007,10,1,CRC Press,5:0,...,3:0,2:0,1:0,total:0,0,NaN,NaN,"In the battle between humans and microbes, knowledge may be not only the best weapon but also the best defense. Pulling contributions from 34 experts into a unified presentation, <b>Disinfection a...",NaN,496.0
1062087,4846434,Meditations on the Life and Passion of Christ: From British Museum Addit. 11307,Charlotte D'Evelyn,0527001554,0.00,1987,1,1,Krause Publications,5:0,...,3:0,2:0,1:0,total:0,0,NaN,NaN,"Excerpt from Meditations on the Life and Passion of Christ: From British Museum Addit. Ms. 11307<br /><br />The Early English Version of the Cursor Mundi in four d104s, edited by the Rev. R. Morri...",NaN,86.0
1062088,4846447,International and Global Marketing: Concepts and Cases,Taylor W. Meloan,0256218943,3.00,1998,1,1,Irwin/McGraw-Hill,5:0,...,3:1,2:0,1:0,total:1,0,NaN,NaN,"This text is a combination of 32 readings and 10 cases. It's organization allows it to be easily used with Cateora, Czinkota, and Jeannet or it can be used on its own.",NaN,439.0
1062089,4846448,The Best of Vincent Mulchrone,Vincent Mulchrone,0955823811,0.00,2008,5,23,Revel Barker,5:0,...,3:0,2:0,1:0,total:0,0,NaN,NaN,Throughout his working life Vincent Mulchrone was recognised as the finest reporter on British newspapers. This edition of his collected stories - ranging from coverage of the royal family at home...,NaN,120.0
1062090,4846449,Forgive Us Our Press Passes,Ian Skidmore,0955823803,3.80,2008,2,14,Revel Barker,5:2,...,3:4,2:0,1:0,total:10,1,NaN,NaN,"Journalist, broadcaster and author IAN SKIDMORE collects rare books and fine wines by choice and unlikely anecdotes and engaging eccentrics almost by accident. His first, hilarious, account of suc...",NaN,232.0

## Clean the dataset before applying language detection

In [11]:
booksWithDesc["Description"] = booksWithDesc["Description"].apply(removeNewlines)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(removeHtmlTags)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(removeLinks)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(lowerCasing)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(reducingIncorrectCharacterRepeatation)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(expandContractions)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(removeSpecialCharacters)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(removeNumbers)
booksWithDesc["Description"] = booksWithDesc["Description"].apply(removeWhitespace)

C:\Users\antonia\anaconda3\lib\site-packages\bs4\__init__.py:337: MarkupResemblesLocatorWarning: "." looks like a directory name, not markup. You may want to open a file found in this directory and pass the filehandle into Beautiful Soup.
  warnings.warn(
C:\Users\antonia\anaconda3\lib\site-packages\bs4\__init__.py:337: MarkupResemblesLocatorWarning: ".." looks like a directory name, not markup. You may want to open a file found in this directory and pass the filehandle into Beautiful Soup.
  warnings.warn(
C:\Users\antonia\anaconda3\lib\site-packages\bs4\__init__.py:337: MarkupResemblesLocatorWarning: "..." looks like a directory name, not markup. You may want to open a file found in this directory and pass the filehandle into Beautiful Soup.
  warnings.warn(
C:\Users\antonia\anaconda3\lib\site-packages\bs4\__init__.py:337: MarkupResemblesLocatorWarning: "...." looks like a directory name, not markup. You may want to open a file found in this directory and pass the filehandle into Beautiful Soup.
  warnings.warn(

### After data cleaning, check for empty strings again, and replace with Nan.

In [20]:
booksWithDesc["Description"] = booksWithDesc["Description"].replace(r'^\s*$', np.nan, regex=True)
print(booksWithDesc["Description"].isna().value_counts())
booksWithDescAfterPreproc = booksWithDesc[booksWithDesc["Description"].notna()]
booksWithDescAfterPreproc.shape

False    1061968
True         369
Name: Description, dtype: int64

(1061968, 21)

In [75]:
booksWithoutDescAfterPreproc = booksWithDesc[booksWithDesc["Description"].isna()]
booksWithoutDescAfterPreproc.shape

(369, 21)

In [76]:
booksWithoutDescAfterPreproc = booksWithoutDescAfterPreproc[booksWithoutDescAfterPreproc["ISBN"].notna()]
booksWithoutDescAfterPreproc.shape

(369, 21)

In [41]:
booksWithoutDescAfterPreproc

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,...,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews,PagesNumber
2966,606008,"Changing Our Own Words: Essays on Criticism, Theory, and Writing by Black Women",Cheryl A. Wall,0813514630,4.50,1989,1,12,Rutgers University Press,5:4,...,3:1,2:0,1:0,total:6,1,NaN,264.0,NaN,NaN,NaN
7458,615252,Clifford Visits The Hospital,Norman Bridwell,043914096X,3.74,2000,1,8,Cartwheel,5:71,...,3:84,2:19,1:4,total:238,14,NaN,32.0,NaN,NaN,NaN
10431,621649,Every Girl Can Be a Princess (tan),Angela Im,0439632447,0.00,2004,1,10,Scholastic,5:0,...,3:0,2:0,1:0,total:0,0,NaN,32.0,NaN,NaN,NaN
11004,622658,"Slow Motion: Changing Masculinities, Changing Men",Lynne Segal,0813516196,3.66,1990,1,9,Rutgers University Press,5:7,...,3:5,2:5,1:1,total:32,0,NaN,420.0,NaN,NaN,NaN
13185,627324,My First Games Readers: Two of a Kind (lift the Flap): Two Of A Kind,Francine Hughes,0439264677,0.00,2001,1,4,Scholastic Paperbacks,5:0,...,3:0,2:0,1:0,total:0,0,NaN,6.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044639,4753866,Ad Marcum Brutum Orator,Marcus Tullius Cicero,3487045915,3.77,1973,1,1,Georg Olms Verlag AG,5:84,...,3:91,2:25,1:6,total:322,0,eng,NaN,NaN,NaN,257.0
1046069,4761215,Loft Living: Culture And Capital In Urban Change,Sharon Zukin,0801826942,4.04,1982,7,1,Johns Hopkins University Press,5:15,...,3:10,2:0,1:1,total:48,0,NaN,NaN,NaN,NaN,224.0
1047361,4768611,Addison,Leon Hale,0385129114,4.00,1979,1,1,Doubleday Books,5:3,...,3:1,2:1,1:0,total:9,2,NaN,NaN,NaN,NaN,207.0
1050529,4785559,Taking Root: The Origins Of The Canadian Jewish Community,Gerald Tulchinsky,0874516099,3.67,1993,1,1,Brandeis University Press,5:0,...,3:1,2:0,1:0,total:3,2,NaN,NaN,NaN,NaN,383.0
1060073,4835011,Cinco De Mayo (On My Own Holidays),Linda Lowery,1575056542,3.90,2005,1,1,Carolrhoda Books,5:3,...,3:2,2:1,1:0,total:10,2,NaN,NaN,NaN,NaN,48.0

In [79]:
#booksWithoutDescAfterPreproc.to_csv("booksWithoutDescAfterPreproc.csv", index = False)
booksWithoutDescAfterPreproc = pd.read_csv("booksWithoutDescAfterPreproc.csv")
booksWithoutDescAfterPreproc.shape

(369, 21)

## Language detection on book's descriptions

In [267]:
def detect_lang(text):
    try:
        return(detect(text))
    except:
        return(np.nan)

In [24]:
booksWithDescAfterPreproc.shape

(1061968, 21)

In [22]:
booksWithDescAfterPreproc["Language"] = booksWithDescAfterPreproc["Description"].apply(detect_lang)

C:\Users\antonia\AppData\Local\Temp/ipykernel_8416/1234640406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  booksWithDescAfterPreproc["Language"] = booksWithDescAfterPreproc["Description"].apply(detect_lang)

In [23]:
booksWithDescAfterPreproc["Language"].value_counts()

en       1013107
de         21561
fr         12831
es          7964
it          1497
ja          1021
nl           581
pt           460
sv           311
pl           305
id           237
ru           236
ar           157
tr           149
tl           143
af           138
ro           135
ca           129
ko           113
da            95
hr            89
fa            81
no            70
el            65
fi            52
et            51
cs            51
hu            45
cy            44
sl            44
sk            42
bg            37
so            26
zh-cn         15
lt            14
sq            13
vi            11
lv             9
he             8
uk             8
sw             6
bn             4
th             3
mk             3
hi             3
ur             2
ml             1
ta             1
Name: Language, dtype: int64

In [11]:
import plotly.express as px

plotData= booksWithDescAfterPreproc['Language'].value_counts().reset_index()
plotData.columns = ['Languages', 'Num of Book for each Language']
plotData['Languages'] = plotData['Languages']
plotData = plotData.sort_values('Num of Book for each Language')
fig = px.bar(lang.tail(10), x="Num of Book for each Language", y="Languages", title='Languages of Books', orientation='h', color='Num of Book for each Language',
             width=1000, height=400)
fig.show()

In [28]:
booksWithDescAfterPreproc.to_csv('booksWithDescAfterPreproc.csv', index=False)

In [3]:
booksWithDescAfterPreproc = pd.read_csv('booksWithDescAfterPreproc.csv')
booksWithDescAfterPreproc.shape

(1061968, 21)

## Save only books that are recognized as english books

In [30]:
booksAllLanguages = pd.read_csv('booksWithDescAfterPreproc.csv')
booksInEnglish = booksAllLanguages[booksAllLanguages["Language"] == 'en']

In [31]:
booksInEnglish.to_csv('booksInEnglish.csv', index=False)

In [34]:
booksInEnglish = pd.read_csv("booksInEnglish.csv")
booksInEnglish.shape

(1013107, 21)

# ####################################################################
# ####################################################################
# ####################################################################
# ####################################################################
## Rating Datasets

## Read the user's ratings files.

In [46]:
ratings1 = pd.read_csv("user_rating_0_to_1000.csv")
ratings2 = pd.read_csv("user_rating_1000_to_2000.csv")
ratings3 = pd.read_csv("user_rating_2000_to_3000.csv")
ratings4 = pd.read_csv("user_rating_3000_to_4000.csv")
ratings5 = pd.read_csv("user_rating_4000_to_5000.csv")
ratings6 = pd.read_csv("user_rating_5000_to_6000.csv")
ratings7 = pd.read_csv("user_rating_6000_to_11000.csv")

In [47]:
ratings = pd.concat([ratings1, ratings2, ratings3, ratings4, ratings5, ratings6, ratings7], axis=0, join="outer", sort=False)
ratings

,ID,Name,Rating
0,1,Agile Web Development with Rails: A Pragmatic ...,it was amazing
1,1,The Restaurant at the End of the Universe (Hit...,it was amazing
2,1,Siddhartha,it was amazing
3,1,The Clock of the Long Now: Time and Responsibi...,really liked it
4,1,"Ready Player One (Ready Player One, #1)",really liked it
...,...,...,...
127673,10978,The Foundation: A Great American Secret: How P...,liked it
127674,10986,Cosette: The Sequel to Les Miserables,really liked it
127675,10986,J. D. Salinger's The Catcher in the Rye,it was amazing
127676,10988,Facing the Lion: Growing Up Maasai on the Afri...,liked it
127677,10988,Homeless Bird,liked it

In [148]:
ratingsWithoutNan["Rating"].value_counts()

really liked it    132808
liked it            96047
it was amazing      92354
it was ok           28811
did not like it      7811
Name: Rating, dtype: int64

### The empty rating is symbolized with the word "Rating". We remove this value from the dataset and we keep only the positive ratings

In [48]:
ratingsWithoutNan = ratings[ratings["Name"] != "Rating"]
ratingsWithoutNan

,ID,Name,Rating
0,1,Agile Web Development with Rails: A Pragmatic ...,it was amazing
1,1,The Restaurant at the End of the Universe (Hit...,it was amazing
2,1,Siddhartha,it was amazing
3,1,The Clock of the Long Now: Time and Responsibi...,really liked it
4,1,"Ready Player One (Ready Player One, #1)",really liked it
...,...,...,...
127673,10978,The Foundation: A Great American Secret: How P...,liked it
127674,10986,Cosette: The Sequel to Les Miserables,really liked it
127675,10986,J. D. Salinger's The Catcher in the Rye,it was amazing
127676,10988,Facing the Lion: Growing Up Maasai on the Afri...,liked it
127677,10988,Homeless Bird,liked it

## We keep only the books of the rating dataset that are included to the books dataset with description

In [73]:
allBooksInEnglish = pd.read_csv("allbooksInEnglish.csv")

In [152]:
namesInRatingsWithOrWithoutDesc = pd.Series(namesRatings["Name"].isin(allBooksInEnglish['Name']).values.astype(int), namesRatings.values, name="check").to_frame()
namesInRatingsWithOrWithoutDesc["check"].value_counts()

0    71031
1    32501
Name: check, dtype: int64

In [153]:
namesInRatingsWithDesc = pd.DataFrame(namesInRatingsWithOrWithoutDesc[namesInRatingsWithOrWithoutDesc["check"] == 1].index.to_list(), columns = ["Name"]) 
namesInRatingsWithoutDesc = pd.DataFrame(namesInRatingsWithOrWithoutDesc[namesInRatingsWithOrWithoutDesc["check"] == 0].index.to_list(), columns = ["Name"])

In [154]:
namesInRatingsWithoutDesc.shape

(71031, 1)

In [155]:
booksWithoutDescription = pd.concat([booksWithoutDesc, booksWithoutDescAfterPreproc]).reset_index(drop=True)
booksWithoutDescription.shape

(569775, 21)

In [156]:
booksWithoutDescription.to_csv("mergeAfterSelenium.csv", index = False)

In [171]:
booksWithoutDescription = mergeAfterSelenium
booksWithoutDescription

,Unnamed: 0,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,...,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews,PagesNumber,Unnamed: 0.1
0,0,8,"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",J.K. Rowling,0439682584,4.78,2004,13,9,Scholastic,...,2:283,1:402,total:43968,166,eng,2690.0,NaN,NaN,NaN,NaN
1,1,9,"Unauthorized Harry Potter Book Seven News: ""Half-Blood Prince"" Analysis and Speculation",W. Frederick Zimmerman,0976540606,3.79,2005,26,4,Nimble Books,...,2:5,1:0,total:28,1,en-US,152.0,NaN,NaN,NaN,NaN
2,2,10,"Harry Potter Collection (Harry Potter, #1-6)",J.K. Rowling,0439827604,4.73,2005,12,9,Scholastic,...,2:218,1:257,total:30313,809,eng,3342.0,NaN,NaN,NaN,NaN
3,3,12,"The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story (Hitchhiker's Guide to the Galaxy, #1-5)",Douglas Adams,0517226952,4.37,2005,1,11,Gramercy Books,...,2:7613,1:3443,total:274268,255,eng,815.0,NaN,NaN,NaN,NaN
4,4,13,"The Ultimate Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1-5)",Douglas Adams,0345453743,4.37,2002,30,4,Del Rey Books,...,2:7613,1:3443,total:274268,4119,eng,815.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569619,569619,4753866,Ad Marcum Brutum Orator,Marcus Tullius Cicero,3487045915,3.77,1973,1,1,Georg Olms Verlag AG,...,2:25,1:6,total:322,0,eng,NaN,NaN,NaN,257.0,1044639.0
569620,569620,4761215,Loft Living: Culture And Capital In Urban Change,Sharon Zukin,0801826942,4.04,1982,7,1,Johns Hopkins University Press,...,2:0,1:1,total:48,0,NaN,NaN,NaN,NaN,224.0,1046069.0
569621,569621,4768611,Addison,Leon Hale,0385129114,4.00,1979,1,1,Doubleday Books,...,2:1,1:0,total:9,2,NaN,NaN,NaN,NaN,207.0,1047361.0
569622,569622,4785559,Taking Root: The Origins Of The Canadian Jewish Community,Gerald Tulchinsky,0874516099,3.67,1993,1,1,Brandeis University Press,...,2:0,1:0,total:3,2,NaN,NaN,NaN,NaN,383.0,1050529.0
569623,569623,4835011,Cinco De Mayo (On My Own Holidays),Linda Lowery,1575056542,3.90,2005,1,1,Carolrhoda Books,...,2:1,1:0,total:10,2,NaN,NaN,NaN,NaN,48.0,1060073.0

# #####################################################################
# #####################################################################
# #####################################################################
# #####################################################################
## Rating Dataset with book info and description

In [93]:
import pandas as pd

dataset3 = pd.read_csv("Preprocessed_data.csv")
dataset3.shape

(1031175, 19)

In [94]:
dataset3

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg,"Provides an introduction to classical myths placing the addressed\ntopics within their historical context, discussion of archaeological\nevidence as support for mythical events, and how these them...",en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031170,1031170,278851,"dallas, texas, usa",33.0000,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyone Said about How to Play Golf,Randy Voorhees,2000.0,Simon & Schuster,http://images.amazon.com/images/P/0743203763.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0743203763.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0743203763.01.LZZZZZZZ.jpg,"Golf lovers will revel in this collection of tips, wisdom, and\nquotations culled from the masters of the game, including Bobby Jones,\nJack Nichlaus, Sam Snead, Tom Watson, and Tiger Woods. 60,00...",en,['Humor'],dallas,texas,usa
1031171,1031171,278851,"dallas, texas, usa",33.0000,0767907566,5,All Elevations Unknown: An Adventure in the Heart of Borneo,Sam Lightner,2001.0,Broadway Books,http://images.amazon.com/images/P/0767907566.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0767907566.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0767907566.01.LZZZZZZZ.jpg,"A daring twist on the travel-adventure genre that places the talented\nLightner in the ranks of authors such as Jon Krakauer, Sebastian\nJunger, and Redmond O&#39;Hanlon, All Elevations Unknown is...",en,['Nature'],dallas,texas,usa
1031172,1031172,278851,"dallas, texas, usa",33.0000,0884159221,7,Why stop?: A guide to Texas historical roadside markers,Claude Dooley,1985.0,Lone Star Books,http://images.amazon.com/images/P/0884159221.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0884159221.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0884159221.01.LZZZZZZZ.jpg,9,9,9,dallas,texas,usa
1031173,1031173,278851,"dallas, texas, usa",33.0000,0912333022,7,The Are You Being Served? Stories: 'Camping In' and Other Fiascoes,Jeremy Lloyd,1997.0,Kqed Books,http://images.amazon.com/images/P/0912333022.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0912333022.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0912333022.01.LZZZZZZZ.jpg,These hilarious stories by the creator of public television&#39;s\nlongest-running hit series capture the wacky sensibility and off-the-\nwall humor of the British sitcom.,en,['Fiction'],dallas,texas,usa
1031174,1031174,278851,"dallas, texas, usa",33.0000,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Edition",Mapsco,1999.0,American Map Corporation,http://images.amazon.com/images/P/1569661057.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/1569661057.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/1569661057.01.LZZZZZZZ.jpg,9,9,9,dallas,texas,usa

### Remove nan values

In [95]:
dataset3NoNan = dataset3.dropna(subset=["Summary", "book_title", "isbn", "user_id"])
dataset3NoNan.shape

(1031175, 19)

In [96]:
nanSummary = dataset3NoNan[dataset3NoNan["Summary"] == '9']
nanSummary.shape

(398937, 19)

In [97]:
nanSummary["isbn"].nunique()

128203

In [98]:
dataset3NoNan = dataset3NoNan[dataset3NoNan["Summary"] != '9']
dataset3NoNan.shape

(632238, 19)

In [21]:
dataset3NoNan["rating"].unique()

array([ 0,  5,  8,  9,  7,  6, 10,  4,  3,  2,  1], dtype=int64)

In [8]:
dataset3NoNan.columns

Index(['Unnamed: 0', 'user_id', 'location', 'age', 'isbn', 'rating',
       'book_title', 'book_author', 'year_of_publication', 'publisher',
       'img_s', 'img_m', 'img_l', 'Summary', 'Language', 'Category', 'city',
       'state', 'country'],
      dtype='object')

In [9]:
dataset3NoNan.drop(['Unnamed: 0'], axis=1, inplace = True)

In [100]:
dataset3NoNan

,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg,"Provides an introduction to classical myths placing the addressed\ntopics within their historical context, discussion of archaeological\nevidence as support for mythical events, and how these them...",en,['Social Science'],stockton,california,usa
1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],timmins,ontario,canada
2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],ottawa,ontario,canada
3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],NaN,NaN,NaN
4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses'],sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031168,278851,"dallas, texas, usa",33.0000,0312266448,0,"The Military Quotation Book : Revised and Expanded: More than 1,200 of the Best Quotations About War, Leadership, Courage, Victory, and Defeat",James Charlton,2002.0,Thomas Dunne Books,http://images.amazon.com/images/P/0312266448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0312266448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0312266448.01.LZZZZZZZ.jpg,"Contains more than 1,200 quotations about war, courage, combat,\nvictory, and defeat, by such people as Charles Dickens, George Patton,\nWinston Churchill, Voltaire, and Colin Powell.",en,['Reference'],dallas,texas,usa
1031169,278851,"dallas, texas, usa",33.0000,067161746X,7,The Bachelor Home Companion: A Practical Guide to Keeping House Like a Pig,P.J. O'Rourke,1987.0,Pocket Books,http://images.amazon.com/images/P/067161746X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/067161746X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/067161746X.01.LZZZZZZZ.jpg,A tongue-in-cheek survival guide for single people reveals the\nquintessential secrets of no-fuss housekeeping,en,['Humor'],dallas,texas,usa
1031170,278851,"dallas, texas, usa",33.0000,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyone Said about How to Play Golf,Randy Voorhees,2000.0,Simon & Schuster,http://images.amazon.com/images/P/0743203763.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0743203763.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0743203763.01.LZZZZZZZ.jpg,"Golf lovers will revel in this collection of tips, wisdom, and\nquotations culled from the masters of the game, including Bobby Jones,\nJack Nichlaus, Sam Snead, Tom Watson, and Tiger Woods. 60,00...",en,['Humor'],dallas,texas,usa
1031171,278851,"dallas, texas, usa",33.0000,0767907566,5,All Elevations Unknown: An Adventure in the Heart of Borneo,Sam Lightner,2001.0,Broadway Books,http://images.amazon.com/images/P/0767907566.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0767907566.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0767907566.01.LZZZZZZZ.jpg,"A daring twist on the travel-adventure genre that places the talented\nLightner in the ranks of authors such as Jon Krakauer, Sebastian\nJunger, and Redmond O&#39;Hanlon, All Elevations Unknown is...",en,['Nature'],dallas,texas,usa
1031173,278851,"dallas, texas, usa",33.0000,0912333022,7,The Are You Being Served? Stories: 'Camping In' and Other Fiascoes,Jeremy Lloyd,1997.0,Kqed Books,http://images.amazon.com/images/P/0912333022.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0912333022.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0912333022.01.LZZZZZZZ.jpg,These hilarious stories by the creator of public television&#39;s\nlongest-running hit series capture the wacky sensibility and off-the-\nwall humor of the British sitcom.,en,['Fiction'],dallas,texas,usa

In [10]:
dataset3NoNan.columns

Index(['user_id', 'location', 'age', 'isbn', 'rating', 'book_title',
       'book_author', 'year_of_publication', 'publisher', 'img_s', 'img_m',
       'img_l', 'Summary', 'Language', 'Category', 'city', 'state', 'country'],
      dtype='object')

In [207]:
dataset3NoNan.to_csv("dataset3Ratings.csv", index = False)


### We create two new dataset from the initial dataset. One dataset with book info and one with user's ratings

In [104]:
books3WithDesc = dataset3NoNan[["book_title", "isbn", "book_author", "year_of_publication", "publisher", "Summary", "Language", "Category"]].drop_duplicates(subset=['book_title'])
books3WithDesc = books3WithDesc.drop_duplicates(subset=['isbn'])
books3WithDesc = books3WithDesc.reset_index(drop = True)
books3WithDesc.shape

(131845, 8)

In [105]:
books3WithDesc.rename(columns = {'Summary':'Description', 'book_title':'Name', 'isbn':'ISBN', 'book_author':'Authors', 'year_of_publication':'PublishYear', 'publisher':'Publisher'}, inplace = True)

In [106]:
books3WithDesc

,Name,ISBN,Authors,PublishYear,Publisher,Description,Language,Category
0,Classical Mythology,0195153448,Mark P. O. Morford,2002.0,Oxford University Press,"Provides an introduction to classical myths placing the addressed\ntopics within their historical context, discussion of archaeological\nevidence as support for mythical events, and how these them...",en,['Social Science']
1,Clara Callan,0002005018,Richard Bruce Wright,2001.0,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluctantly takes leave of her\nsister, Nora, who is bound for New York.",en,['Actresses']
2,Decision in Normandy,0060973129,Carlo D'Este,1991.0,HarperPerennial,"Here, for the first time in paperback, is an outstanding military\nhistory that offers a dramatic new perspective on the Allied campaign\nthat began with the invasion of the D-Day beaches of Norma...",en,['1940-1949']
3,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,0374157065,Gina Bari Kolata,1999.0,Farrar Straus Giroux,"Describes the great flu epidemic of 1918, an outbreak that killed some\nforty million people worldwide, and discusses the efforts of\nscientists and public health officials to understand and preve...",en,['Medical']
4,The Mummies of Urumchi,0393045218,E. J. W. Barber,1999.0,W. W. Norton & Company,"A look at the incredibly well-preserved ancient mummies found in\nWestern China describes their clothing and appearance, attempts to\nreconstruct their culture, and speculates about how Caucasians...",en,['Design']
...,...,...,...,...,...,...,...,...
131840,Secret of Willow Castle,0920656307,Ly Cook,1911.0,Firefly Books Ltd,Canadian story early 19th century Orphaned servant girl sent to farm.,en,['Canada']
131841,"The Military Quotation Book : Revised and Expanded: More than 1,200 of the Best Quotations About War, Leadership, Courage, Victory, and Defeat",0312266448,James Charlton,2002.0,Thomas Dunne Books,"Contains more than 1,200 quotations about war, courage, combat,\nvictory, and defeat, by such people as Charles Dickens, George Patton,\nWinston Churchill, Voltaire, and Colin Powell.",en,['Reference']
131842,As Hogan Said . . . : The 389 Best Things Anyone Said about How to Play Golf,0743203763,Randy Voorhees,2000.0,Simon & Schuster,"Golf lovers will revel in this collection of tips, wisdom, and\nquotations culled from the masters of the game, including Bobby Jones,\nJack Nichlaus, Sam Snead, Tom Watson, and Tiger Woods. 60,00...",en,['Humor']
131843,All Elevations Unknown: An Adventure in the Heart of Borneo,0767907566,Sam Lightner,2001.0,Broadway Books,"A daring twist on the travel-adventure genre that places the talented\nLightner in the ranks of authors such as Jon Krakauer, Sebastian\nJunger, and Redmond O&#39;Hanlon, All Elevations Unknown is...",en,['Nature']
131844,The Are You Being Served? Stories: 'Camping In' and Other Fiascoes,0912333022,Jeremy Lloyd,1997.0,Kqed Books,These hilarious stories by the creator of public television&#39;s\nlongest-running hit series capture the wacky sensibility and off-the-\nwall humor of the British sitcom.,en,['Fiction']

In [109]:
books3WithDesc["Description"] = books3WithDesc["Description"].apply(removeNewlines)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(removeHtmlTags)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(removeLinks)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(lowerCasing)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(reducingIncorrectCharacterRepeatation)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(expandContractions)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(removeSpecialCharacters)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(removeNumbers)
books3WithDesc["Description"] = books3WithDesc["Description"].apply(removeWhitespace)

C:\Users\antonia\anaconda3\lib\site-packages\bs4\__init__.py:337: MarkupResemblesLocatorWarning: "." looks like a directory name, not markup. You may want to open a file found in this directory and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [110]:
books3WithDesc["Description"] = books3WithDesc["Description"].replace(r'^\s*$', np.nan, regex=True)
print(books3WithDesc["Description"].isna().value_counts())
books3WithDescAfterPreproc = books3WithDesc[books3WithDesc["Description"].notna()]
books3WithDescAfterPreproc.shape

False    131837
True          8
Name: Description, dtype: int64

(131837, 8)

In [111]:
def intToStrWithLeadingZeros(isbn):
    return(str(isbn).zfill(10))

In [112]:
forSeleniumDataset3 = books3WithDesc[books3WithDesc["Description"].isna()][["Name", "ISBN"]]
forSeleniumDataset3["ISBN"] = forSeleniumDataset3["ISBN"].apply(intToStrWithLeadingZeros)
forSeleniumDataset3

,Name,ISBN
7166,Shades of Jade: A Novel,0375757430
20756,The Dixie Association (Voices of the South),0807122262
33922,Professors at Play: Essays,0813517184
53994,Magic Within,0590743139
61507,Almost Innocent: A Novel (Voices of the South),0807120669
62601,Landscape for a Good Woman: A Story,0813512581
62956,A Confederacy of Dunces,0807126063
77331,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",0813521351

In [85]:
type(forSeleniumDataset3["ISBN"].iloc[0])

str

In [113]:
forSeleniumDataset3.to_csv("forSeleniumDataset3.csv", index = False)
forSeleniumDataset3 = pd.read_csv("forSeleniumDataset3.csv")
forSeleniumDataset3["ISBN"] = forSeleniumDataset3["ISBN"].apply(intToStrWithLeadingZeros)

In [114]:
mergeForSelDat3 = books3WithDesc[books3WithDesc["Description"].isna()]
mergeForSelDat3

,Name,ISBN,Authors,PublishYear,Publisher,Description,Language,Category
7166,Shades of Jade: A Novel,0375757430,Gloria Mallette,2001.0,Villard Books,NaN,en,['Fiction']
20756,The Dixie Association (Voices of the South),0807122262,Donald Hays,1997.0,Louisiana State University Press,NaN,en,['History']
33922,Professors at Play: Essays,0813517184,Robert Wexelblatt,1991.0,Rutgers Univ Pr,NaN,en,['Literary Collections']
53994,Magic Within,0590743139,Melody Collins Thomason,1989.0,Scholastic Book Service,NaN,en,['Gardens']
61507,Almost Innocent: A Novel (Voices of the South),0807120669,Sheila Bosworth,1996.0,Louisiana State University Press,NaN,en,['Comics & Graphic Novels']
62601,Landscape for a Good Woman: A Story,0813512581,Carolyn Kay Steedman,1987.0,Rutgers University Press,NaN,en,['Social Science']
62956,A Confederacy of Dunces,0807126063,John Kennedy Toole,2000.0,Louisiana State University Press,NaN,en,['Fiction']
77331,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",0813521351,Joyce Carol Oates,1994.0,Rutgers University Press,NaN,en,['Fiction']

In [115]:
mergeForSelDat3.to_csv("mergeForSelDat3.csv", index = False)

### Keep only books with description in english language

In [116]:
books3InEnglish = books3WithDescAfterPreproc[books3WithDescAfterPreproc["Language"] == "en"]
books3InEnglish.shape

(126647, 8)

In [117]:
books3InEnglish.to_csv("books3InEnglish.csv", index = False)

In [118]:
books3InEnglish = pd.read_csv("books3InEnglish.csv")
books3InEnglish

,Name,ISBN,Authors,PublishYear,Publisher,Description,Language,Category
0,Classical Mythology,0195153448,Mark P. O. Morford,2002.0,Oxford University Press,provides an introduction to classical myths placing the addressed topics within their historical context discussion of archaeological evidence as support for mythical events and how these themes h...,en,['Social Science']
1,Clara Callan,0002005018,Richard Bruce Wright,2001.0,HarperFlamingo Canada,in a small town in canada clara callan reluctantly takes leave of her sister nora who is bound for new york,en,['Actresses']
2,Decision in Normandy,0060973129,Carlo D'Este,1991.0,HarperPerennial,here for the first time in paperback is an outstanding military history that offers a dramatic new perspective on the allied campaign that began with the invasion of the d day beaches of normandy ...,en,['1940-1949']
3,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,0374157065,Gina Bari Kolata,1999.0,Farrar Straus Giroux,describes the great flu epidemic of an outbreak that killed some forty million people worldwide and discusses the efforts of scientists and public health officials to understand and prevent anothe...,en,['Medical']
4,The Mummies of Urumchi,0393045218,E. J. W. Barber,1999.0,W. W. Norton & Company,a look at the incredibly well preserved ancient mummies found in western china describes their clothing and appearance attempts to reconstruct their culture and speculates about how caucasians cou...,en,['Design']
...,...,...,...,...,...,...,...,...
126642,Secret of Willow Castle,0920656307,Ly Cook,1911.0,Firefly Books Ltd,canadian story early th century orphaned servant girl sent to farm,en,['Canada']
126643,"The Military Quotation Book : Revised and Expanded: More than 1,200 of the Best Quotations About War, Leadership, Courage, Victory, and Defeat",0312266448,James Charlton,2002.0,Thomas Dunne Books,contains more than quotations about war courage combat victory and defeat by such people as charles dickens george patton winston churchill voltaire and colin powell,en,['Reference']
126644,As Hogan Said . . . : The 389 Best Things Anyone Said about How to Play Golf,0743203763,Randy Voorhees,2000.0,Simon & Schuster,golf lovers will revel in this collection of tips wisdom and quotations culled from the masters of the game including bobby jones jack nichlaus sam snead tom watson and tiger woods first printing,en,['Humor']
126645,All Elevations Unknown: An Adventure in the Heart of Borneo,0767907566,Sam Lightner,2001.0,Broadway Books,a daring twist on the travel adventure genre that places the talented lightner in the ranks of authors such as jon krakauer sebastian junger and redmond o hanlon all elevations unknown is ultimate...,en,['Nature']
126646,The Are You Being Served? Stories: 'Camping In' and Other Fiascoes,0912333022,Jeremy Lloyd,1997.0,Kqed Books,these hilarious stories by the creator of public television s longest running hit series capture the wacky sensibility and off the wall humor of the british sitcom,en,['Fiction']

In [119]:
books3WithoutDescAfterPreproc = books3InEnglish[books3InEnglish["Description"].isna()]
books3WithoutDescAfterPreproc.shape
books3WithoutDescAfterPreproc.to_csv("forSeleniumDataset3.csv", index = False)

(8, 8)

## Create dataset for selenium

In [158]:
booksWithoutDescription = pd.concat([booksWithoutDesc, booksWithoutDescAfterPreproc]).reset_index(drop=True)

namesInRatingWithoutDescCheckForSel = pd.Series(namesInRatingsWithoutDesc["Name"].isin(booksWithoutDescription['Name']).values.astype(int), namesInRatingsWithoutDesc, name="check").to_frame()
namesInRatingWithoutDescCheckForSel["check"].value_counts()

0    53608
1    17423
Name: check, dtype: int64

In [ ]:
booksWithoutDescription = mergeAfterSelenium
booksWithoutDescription

In [ ]:
isbnForSeleniumFinal = pd.DataFrame(isbnForSeleniumWithDataset3[isbnForSeleniumWithDataset3["check"] == 0].index.to_list(), columns = ["Name", "ISBN"])

### Merge for taking the ISBN from the datasets that have books info without description

In [ ]:
namesForSelenium = pd.DataFrame(namesInRatingWithoutDescCheckForSel[namesInRatingWithoutDescCheckForSel["check"] == 1].index.to_list(), columns = ["Name"]) 
namesForSelenium.shape

isbnForSelenium = namesForSelenium.merge(booksWithoutDescription[["Name", "ISBN"]], on = "Name", how = 'left')

isbnForSelenium.to_csv('isbnForSelenium.csv', index=False)

In [163]:
isbnForSelenium = pd.read_csv('isbnForSelenium.csv')
isbnForSelenium

,Name,ISBN
0,Agile Web Development with Rails: A Pragmatic Guide,097669400X
1,"The Clue in the Embers (Hardy Boys, #35)",0448089351
2,"The Clue of the Broken Blade (Hardy Boys, #21)",0448089211
3,"The Clue of the Screeching Owl (Hardy Boys, #41)",0448089416
4,"Blue Mars (Mars Trilogy, #3)",0007121652
...,...,...
17418,365 Goddess: A Daily Guide to the Magic and Inspiration of the Goddess,0062515683
17419,Psychic Living: A Complete Guide to Enhancing Your Life,0743499255
17420,The Age of Kali: Indian Travels & Encounters,1864501723
17421,Story-Wallah: Short Fiction from South Asian Writers,0618576800
17422,The Foundation: A Great American Secret: How Private Wealth Is Changing the World,1586484117

In [164]:
isbnForSeleniumWithDataset3 = pd.Series(isbnForSelenium["ISBN"].isin(books3InEnglish['ISBN']).values.astype(int), isbnForSelenium, name="check").to_frame()
isbnForSeleniumWithDataset3["check"].value_counts()

0    14778
1     2645
Name: check, dtype: int64

In [169]:
### From dataset 3 after preprocess
forSeleniumDataset3 = pd.read_csv("forSeleniumDataset3.csv")
forSeleniumDataset3["ISBN"] = forSeleniumDataset3["ISBN"].apply(intToStrWithLeadingZeros)

isbnForSeleniumFinalWithD3Nan = pd.Series(isbnForSeleniumFinal["ISBN"].isin(forSeleniumDataset3['ISBN']).values.astype(int), isbnForSeleniumFinal, name="check").to_frame()
isbnForSeleniumFinalWithD3Nan["check"].value_counts()

0    14778
Name: check, dtype: int64

In [171]:
isbnForSeleniumFinal = isbnForSeleniumFinal.append(forSeleniumDataset3, ignore_index=True)
isbnForSeleniumFinal

,Name,ISBN
0,Agile Web Development with Rails: A Pragmatic Guide,097669400X
1,"The Clue of the Screeching Owl (Hardy Boys, #41)",0448089416
2,"Blue Mars (Mars Trilogy, #3)",0007121652
3,Moon Handbooks South Korea,1566914183
4,Babar and His Children,0679801650
...,...,...
14781,Magic Within,0590743139
14782,Almost Innocent: A Novel (Voices of the South),0807120669
14783,Landscape for a Good Woman: A Story,0813512581
14784,A Confederacy of Dunces,0807126063
14785,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",0813521351

In [ ]:
isbnForSeleniumFinal.to_csv('isbnForSeleniumFinal.csv', index=False)

isbnForSeleniumFinal = pd.read_csv("isbnForSeleniumFinal.csv")
isbnForSeleniumFinal.shape

### Selenium on Goodreads site

In [ ]:
import csv
from getpass import getpass
from time import sleep
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver import Chrome
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException   
import numpy as np
from selenium.webdriver.common.by import By


driver = Chrome("C:\\Users\\antonia\\Downloads\\chromedriver.exe")
driver.get("https://www.goodreads.com/user/sign_in")
driver.find_element(By.LINK_TEXT, "Sign in with email").click()
username = driver.find_element(By.XPATH,"//input[@name='email']")
username.send_keys("email")


my_password = "password"
password = driver.find_element(By.XPATH, "//input[@name='password']")
password.send_keys(my_password)

password.send_keys(Keys.RETURN)

def check_exists_by_xpath(xpath):
    try:
        driver.find_element(By.XPATH,xpath)
    except NoSuchElementException:
        return False
    return True

def getDescriptionSelenium(isbn, driver):
    check = 1
    
    search_input = driver.find_element(By.XPATH, '//input[@class = "searchBox__input searchBox__input--navbar" ]')
        
    search_input.send_keys(isbn)

    search_input.send_keys(Keys.RETURN)
         
    try:
        link = driver.find_element(By.LINK_TEXT, '...more')
    except NoSuchElementException:
        check = 0
    if(check == 1):
        ActionChains(driver).move_to_element(link).perform()
        link.click()
        if(check_exists_by_xpath("//div[@id='description']")):
            description = link.find_elements(By.XPATH, "//div[@id='description']")[0].text
            description = description.replace(" (less)", "")
        else:
            description = np.nan
    elif(check == 0):
        if(check_exists_by_xpath("//div[@id='description']")):
            description = driver.find_elements(By.XPATH, "//div[@id='description']")[0].text
        else:
            description = np.nan
    return(description)

In [ ]:

isbnForSeleniumFinal = pd.read_csv("isbnForSeleniumFinal.csv")
isbnForSeleniumFinal.shape

isbnForSeleniumFinal['Description'] = 'without description'

In [177]:
isbnForSeleniumFinal

,Name,ISBN,Description
0,Agile Web Development with Rails: A Pragmatic Guide,097669400X,without description
1,"The Clue of the Screeching Owl (Hardy Boys, #41)",0448089416,without description
2,"Blue Mars (Mars Trilogy, #3)",0007121652,without description
3,Moon Handbooks South Korea,1566914183,without description
4,Babar and His Children,0679801650,without description
...,...,...,...
14781,Magic Within,0590743139,without description
14782,Almost Innocent: A Novel (Voices of the South),0807120669,without description
14783,Landscape for a Good Woman: A Story,0813512581,without description
14784,A Confederacy of Dunces,0807126063,without description
14785,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",0813521351,without description

In [ ]:
descFromSelenium = isbnForSeleniumFinal.copy()
from selenium.webdriver.common.by import By
import time
for isbn, i in zip(descFromSelenium["ISBN"].iloc[0:14785].values, range(0,14785)):
    if (descFromSelenium.loc[descFromSelenium['ISBN'] == isbn, 'Description'].item() == 'without description'):
        descFromSelenium.loc[descFromSelenium['ISBN'] == isbn, 'Description'] = getDescriptionSelenium(isbn, driver)

In [256]:
descFromSelenium

,ISBN,Name,Description
0,097669400X,Agile Web Development with Rails: A Pragmatic Guide,"Rails is a full-stack, open source web framework that enables you to create full-featured, sophisticated web-based applications, but with a twist... A full Rails application probably has less tota..."
1,0448089416,"The Clue of the Screeching Owl (Hardy Boys, #41)","When dogs and men suddenly disappear, and strange screams fill the night, fantastic stories of vengeful ghosts are almost believable. It is these strange happenings which bring Frank and Joe Hardy..."
2,0007121652,"Blue Mars (Mars Trilogy, #3)","Winner of the Hugo Award for Best Novel • One of the most enthralling science fiction sagas ever written, Kim Stanley Robinson’s epic trilogy concludes with Blue Mars—a triumph of prodigious resea..."
3,1566914183,Moon Handbooks South Korea,"From the bustling streets of Seoul to the country's rich cultural heritage to the numerous mountain areas and pristine sandy beaches, this handbook delivers in-depth coverage of a travel hotspot."
4,0679801650,Babar and His Children,"With the birth of triplets, King Babar and Queen Celeste experience the pleasures and pains of parenthood."
...,...,...,...
14781,0374527709,The Art of Teaching Art to Children: In School and at Home,"An inspiring and comprehensive guide to art education.\n\nIn this accessibly written guide for classroom and art teachers as well as parents, Nancy Beal shows how to release children's marvelous g..."
14782,0807122262,The Dixie Association (Voices of the South),"Meet the Arkansas Reds, the oddest, craziest, rowdiest bunch of sluggers ever to step out of a dugout. The lineup consists of an ex-con first baseman named Hog, a couple of real Reds on loan from ..."
14783,0813517184,Professors at Play: Essays,"Robert Wexelblatt writes, in the preface to this book of his essays: ""I write fiction when I am up to it, poetry when I can't help it, letters when I must, essays the rest of the time. The pieces ..."
14784,0590743139,Magic Within,"When Junie meets Miss Quarterberry, much is asked of her. For Miss Quarterberry believes that Junie may be able to enter the magic garden from which she herself is forever barred."
14785,0813521351,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""","Joyce Carol Oates’s prize-winning story “Where Are You Going, Where Have You Been?” takes up troubling subjects that continue to occupy her in her fiction: the romantic longings and limited optio..."

## Processing of the data we received from selenium

In [262]:
### Processing of the data we received from selenium
descFromSelenium = descFromSelenium.drop_duplicates(subset=['ISBN']).reset_index(drop=True)
descFromSelenium['Description'] = descFromSelenium['Description'].replace(r'^\s*$', np.nan, regex=True)
descFromSelNotNa = descFromSelenium[descFromSelenium["Description"].notna()]
descFromSelNotNa.shape

(14087, 3)

In [263]:
descFromSelNotNa

,ISBN,Name,Description
0,097669400X,Agile Web Development with Rails: A Pragmatic Guide,"Rails is a full-stack, open source web framework that enables you to create full-featured, sophisticated web-based applications, but with a twist... A full Rails application probably has less tota..."
1,0448089416,"The Clue of the Screeching Owl (Hardy Boys, #41)","When dogs and men suddenly disappear, and strange screams fill the night, fantastic stories of vengeful ghosts are almost believable. It is these strange happenings which bring Frank and Joe Hardy..."
2,0007121652,"Blue Mars (Mars Trilogy, #3)","Winner of the Hugo Award for Best Novel • One of the most enthralling science fiction sagas ever written, Kim Stanley Robinson’s epic trilogy concludes with Blue Mars—a triumph of prodigious resea..."
3,1566914183,Moon Handbooks South Korea,"From the bustling streets of Seoul to the country's rich cultural heritage to the numerous mountain areas and pristine sandy beaches, this handbook delivers in-depth coverage of a travel hotspot."
4,0679801650,Babar and His Children,"With the birth of triplets, King Babar and Queen Celeste experience the pleasures and pains of parenthood."
...,...,...,...
14781,0374527709,The Art of Teaching Art to Children: In School and at Home,"An inspiring and comprehensive guide to art education.\n\nIn this accessibly written guide for classroom and art teachers as well as parents, Nancy Beal shows how to release children's marvelous g..."
14782,0807122262,The Dixie Association (Voices of the South),"Meet the Arkansas Reds, the oddest, craziest, rowdiest bunch of sluggers ever to step out of a dugout. The lineup consists of an ex-con first baseman named Hog, a couple of real Reds on loan from ..."
14783,0813517184,Professors at Play: Essays,"Robert Wexelblatt writes, in the preface to this book of his essays: ""I write fiction when I am up to it, poetry when I can't help it, letters when I must, essays the rest of the time. The pieces ..."
14784,0590743139,Magic Within,"When Junie meets Miss Quarterberry, much is asked of her. For Miss Quarterberry believes that Junie may be able to enter the magic garden from which she herself is forever barred."
14785,0813521351,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""","Joyce Carol Oates’s prize-winning story “Where Are You Going, Where Have You Been?” takes up troubling subjects that continue to occupy her in her fiction: the romantic longings and limited optio..."

In [265]:
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(removeNewlines)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(removeHtmlTags)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(removeLinks)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(lowerCasing)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(reducingIncorrectCharacterRepeatation)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(expandContractions)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(removeSpecialCharacters)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(removeNumbers)
descFromSelNotNa["Description"] = descFromSelNotNa["Description"].apply(removeWhitespace)

descFromSelAfterCleaning = descFromSelNotNa
descFromSelAfterCleaning

,ISBN,Name,Description
0,097669400X,Agile Web Development with Rails: A Pragmatic Guide,rails is a full stack open source web framework that enables you to create full featured sophisticated web based applications but with a twist a full rails application probably has less total code...
1,0448089416,"The Clue of the Screeching Owl (Hardy Boys, #41)",when dogs and men suddenly disappear and strange screams fill the night fantastic stories of vengeful ghosts are almost believable it is these strange happenings which bring frank and joe hardy to...
2,0007121652,"Blue Mars (Mars Trilogy, #3)",winner of the hugo award for best novel one of the most enthralling science fiction sagas ever written kim stanley robinson s epic trilogy concludes with blue mars a triumph of prodigious research...
3,1566914183,Moon Handbooks South Korea,from the bustling streets of seoul to the country s rich cultural heritage to the numerous mountain areas and pristine sandy beaches this handbook delivers in depth coverage of a travel hotspot
4,0679801650,Babar and His Children,with the birth of triplets king babar and queen celeste experience the pleasures and pains of parenthood
...,...,...,...
14781,0374527709,The Art of Teaching Art to Children: In School and at Home,an inspiring and comprehensive guide to art education in this accessibly written guide for classroom and art teachers as well as parents nancy beal shows how to release children s marvelous gifts ...
14782,0807122262,The Dixie Association (Voices of the South),meet the arkansas reds the oddest craziest rowdiest bunch of sluggers ever to step out of a dugout the lineup consists of an ex con first baseman named hog a couple of real reds on loan from castr...
14783,0813517184,Professors at Play: Essays,robert wexelblatt writes in the preface to this book of his essays i write fiction when i am up to it poetry when i cannot help it letters when i must essays the rest of the time the pieces collec...
14784,0590743139,Magic Within,when junie meets miss quarterberry much is asked of her for miss quarterberry believes that junie may be able to enter the magic garden from which she herself is forever barred
14785,0813521351,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",joyce carol oates s prize winning story where are you going where have you been takes up troubling subjects that continue to occupy her in her fiction the romantic longings and limited options of...

### Language Detection and keep only descriptions in english

In [269]:
descFromSelAfterCleaning['Language'] = descFromSelAfterCleaning['Description'].apply(detect_lang)
descFromSelAfterCleaning['Language'].value_counts()

en       13400
es         383
fr         150
de          48
it          25
fa          14
af          12
pt          10
nl           5
ru           4
ca           3
sv           3
el           2
cs           2
ja           2
ko           2
pl           2
sl           2
ar           2
ro           1
zh-cn        1
mk           1
fi           1
hr           1
so           1
sk           1
th           1
tr           1
da           1
vi           1
id           1
lt           1
Name: Language, dtype: int64

In [270]:
descFromSelEn = descFromSelNotNa[descFromSelNotNa['Language'] == 'en'].reset_index(drop = True)
descFromSelEn.shape

(13400, 4)

In [271]:
descFromSelEn.to_csv("descFromSelEn.csv", index = False)
descFromSelEn = pd.read_csv("descFromSelEn.csv")
descFromSelEn

,ISBN,Name,Description,Language
0,097669400X,Agile Web Development with Rails: A Pragmatic Guide,rails is a full stack open source web framework that enables you to create full featured sophisticated web based applications but with a twist a full rails application probably has less total code...,en
1,0448089416,"The Clue of the Screeching Owl (Hardy Boys, #41)",when dogs and men suddenly disappear and strange screams fill the night fantastic stories of vengeful ghosts are almost believable it is these strange happenings which bring frank and joe hardy to...,en
2,0007121652,"Blue Mars (Mars Trilogy, #3)",winner of the hugo award for best novel one of the most enthralling science fiction sagas ever written kim stanley robinson s epic trilogy concludes with blue mars a triumph of prodigious research...,en
3,1566914183,Moon Handbooks South Korea,from the bustling streets of seoul to the country s rich cultural heritage to the numerous mountain areas and pristine sandy beaches this handbook delivers in depth coverage of a travel hotspot,en
4,0679801650,Babar and His Children,with the birth of triplets king babar and queen celeste experience the pleasures and pains of parenthood,en
...,...,...,...,...
13395,0374527709,The Art of Teaching Art to Children: In School and at Home,an inspiring and comprehensive guide to art education in this accessibly written guide for classroom and art teachers as well as parents nancy beal shows how to release children s marvelous gifts ...,en
13396,0807122262,The Dixie Association (Voices of the South),meet the arkansas reds the oddest craziest rowdiest bunch of sluggers ever to step out of a dugout the lineup consists of an ex con first baseman named hog a couple of real reds on loan from castr...,en
13397,0813517184,Professors at Play: Essays,robert wexelblatt writes in the preface to this book of his essays i write fiction when i am up to it poetry when i cannot help it letters when i must essays the rest of the time the pieces collec...,en
13398,0590743139,Magic Within,when junie meets miss quarterberry much is asked of her for miss quarterberry believes that junie may be able to enter the magic garden from which she herself is forever barred,en
13399,0813521351,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",joyce carol oates s prize winning story where are you going where have you been takes up troubling subjects that continue to occupy her in her fiction the romantic longings and limited options of...,en

In [274]:
infoFroBooksForSel = pd.concat([booksWithoutDescription, forSeleniumDataset3], axis = 0, ignore_index = True).drop_duplicates(["ISBN"], keep = 'first').reset_index(drop=True)

infoFroBooksForSel.shape

(569782, 22)

In [276]:
infoFroBooksForSel

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,...,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,pagesNumber,Description,Count of text reviews,PagesNumber,Category
0,8.0,"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",J.K. Rowling,0439682584,4.78,2004.0,13.0,9.0,Scholastic,5:37432,...,2:283,1:402,total:43968,166.0,eng,2690.0,NaN,NaN,NaN,NaN
1,9.0,"Unauthorized Harry Potter Book Seven News: ""Half-Blood Prince"" Analysis and Speculation",W. Frederick Zimmerman,0976540606,3.79,2005.0,26.0,4.0,Nimble Books,5:10,...,2:5,1:0,total:28,1.0,en-US,152.0,NaN,NaN,NaN,NaN
2,10.0,"Harry Potter Collection (Harry Potter, #1-6)",J.K. Rowling,0439827604,4.73,2005.0,12.0,9.0,Scholastic,5:24406,...,2:218,1:257,total:30313,809.0,eng,3342.0,NaN,NaN,NaN,NaN
3,12.0,"The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story (Hitchhiker's Guide to the Galaxy, #1-5)",Douglas Adams,0517226952,4.37,2005.0,1.0,11.0,Gramercy Books,5:157499,...,2:7613,1:3443,total:274268,255.0,eng,815.0,NaN,NaN,NaN,NaN
4,13.0,"The Ultimate Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1-5)",Douglas Adams,0345453743,4.37,2002.0,30.0,4.0,Del Rey Books,5:157499,...,2:7613,1:3443,total:274268,4119.0,eng,815.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569777,NaN,Professors at Play: Essays,Robert Wexelblatt,0813517184,NaN,1991.0,NaN,NaN,Rutgers Univ Pr,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Literary Collections']
569778,NaN,Magic Within,Melody Collins Thomason,0590743139,NaN,1989.0,NaN,NaN,Scholastic Book Service,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Gardens']
569779,NaN,Almost Innocent: A Novel (Voices of the South),Sheila Bosworth,0807120669,NaN,1996.0,NaN,NaN,Louisiana State University Press,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Comics & Graphic Novels']
569780,NaN,A Confederacy of Dunces,John Kennedy Toole,0807126063,NaN,2000.0,NaN,NaN,Louisiana State University Press,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Fiction']
569781,NaN,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",Joyce Carol Oates,0813521351,NaN,1994.0,NaN,NaN,Rutgers University Press,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Fiction']

In [278]:
descFromSelEnAfterMerge = pd.merge(descFromSelEn, infoFroBooksForSel, on= "ISBN")
descFromSelEnAfterMerge.shape

(13400, 25)

In [279]:
descFromSelEn.to_csv("descFromSelEn.csv", index = False)

In [280]:
descFromSelEnAfterMerge.to_csv("descFromSelEnAfterMerge.csv", index = False)
booksFromSelInEn = pd.read_csv("descFromSelEnAfterMerge.csv")
booksFromSelInEn

,ISBN,Name_x,Description_x,Language_x,Id,Name_y,Authors,Rating,PublishYear,PublishMonth,...,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language_y,pagesNumber,Description_y,Count of text reviews,PagesNumber,Category
0,097669400X,Agile Web Development with Rails: A Pragmatic Guide,rails is a full stack open source web framework that enables you to create full featured sophisticated web based applications but with a twist a full rails application probably has less total code...,en,45.0,Agile Web Development with Rails: A Pragmatic Guide,Dave Thomas,3.84,2005.0,28.0,...,2:124,1:56,total:2080,59.0,eng,558.0,NaN,NaN,NaN,NaN
1,0448089416,"The Clue of the Screeching Owl (Hardy Boys, #41)",when dogs and men suddenly disappear and strange screams fill the night fantastic stories of vengeful ghosts are almost believable it is these strange happenings which bring frank and joe hardy to...,en,76934.0,"The Clue of the Screeching Owl (Hardy Boys, #41)",Franklin W. Dixon,3.78,1962.0,1.0,...,2:94,1:13,total:1690,40.0,eng,192.0,NaN,NaN,NaN,NaN
2,0007121652,"Blue Mars (Mars Trilogy, #3)",winner of the hugo award for best novel one of the most enthralling science fiction sagas ever written kim stanley robinson s epic trilogy concludes with blue mars a triumph of prodigious research...,en,41131.0,"Blue Mars (Mars Trilogy, #3)",Kim Stanley Robinson,3.93,2001.0,1.0,...,2:1535,1:424,total:25133,4.0,eng,789.0,NaN,NaN,NaN,NaN
3,1566914183,Moon Handbooks South Korea,from the bustling streets of seoul to the country s rich cultural heritage to the numerous mountain areas and pristine sandy beaches this handbook delivers in depth coverage of a travel hotspot,en,235559.0,Moon Handbooks South Korea,Robert Nilsen,4.14,2003.0,26.0,...,2:0,1:0,total:22,2.0,NaN,860.0,NaN,NaN,NaN,NaN
4,0679801650,Babar and His Children,with the birth of triplets king babar and queen celeste experience the pleasures and pains of parenthood,en,356310.0,Babar and His Children,Jean de Brunhoff,4.04,1989.0,5.0,...,2:99,1:35,total:2099,0.0,NaN,40.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13395,0374527709,The Art of Teaching Art to Children: In School and at Home,an inspiring and comprehensive guide to art education in this accessibly written guide for classroom and art teachers as well as parents nancy beal shows how to release children s marvelous gifts ...,en,177563.0,The Art of Teaching Art to Children: In School and at Home,Nancy Beal,3.95,2001.0,30.0,...,2:6,1:2,total:115,13.0,NaN,240.0,NaN,NaN,NaN,NaN
13396,0807122262,The Dixie Association (Voices of the South),meet the arkansas reds the oddest craziest rowdiest bunch of sluggers ever to step out of a dugout the lineup consists of an ex con first baseman named hog a couple of real reds on loan from castr...,en,NaN,The Dixie Association (Voices of the South),Donald Hays,NaN,1997.0,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['History']
13397,0813517184,Professors at Play: Essays,robert wexelblatt writes in the preface to this book of his essays i write fiction when i am up to it poetry when i cannot help it letters when i must essays the rest of the time the pieces collec...,en,NaN,Professors at Play: Essays,Robert Wexelblatt,NaN,1991.0,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Literary Collections']
13398,0590743139,Magic Within,when junie meets miss quarterberry much is asked of her for miss quarterberry believes that junie may be able to enter the magic garden from which she herself is forever barred,en,NaN,Magic Within,Melody Collins Thomason,NaN,1989.0,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Gardens']
13399,0813521351,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",joyce carol oates s prize winning story where are you going where have you been takes up troubling subjects that continue to occupy her in her fiction the romantic longings and limited options of...,en,NaN,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",Joyce Carol Oates,NaN,1994.0,NaN,...,NaN,NaN,NaN,NaN,en,NaN,NaN,NaN,NaN,['Fiction']

In [281]:
booksFromSelInEn.drop(['Name_y', 'Description_y', 'Language_y'], axis=1, inplace=True)

In [282]:
booksFromSelInEn.rename(columns = {'Name_x':'Name', 'Description_x':'Description', 'Language_x':'Language'}, inplace = True)

In [283]:
booksFromSelInEn.columns

Index(['ISBN', 'Name', 'Description', 'Language', 'Id', 'Authors', 'Rating',
       'PublishYear', 'PublishMonth', 'PublishDay', 'Publisher', 'RatingDist5',
       'RatingDist4', 'RatingDist3', 'RatingDist2', 'RatingDist1',
       'RatingDistTotal', 'CountsOfReview', 'pagesNumber',
       'Count of text reviews', 'PagesNumber', 'Category'],
      dtype='object')

In [284]:
booksFromSelInEn["Description"].isna().value_counts()

False    13400
Name: Description, dtype: int64

In [288]:
booksFromSelInEn

,ISBN,Name,Description,Language,Id,Authors,Rating,PublishYear,PublishMonth,PublishDay,...,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,pagesNumber,Count of text reviews,PagesNumber,Category,Tokenize-RemoveStopwords,Tokenize-RemoveStopwordsAndWordsWithSmallLength
0,097669400X,Agile Web Development with Rails: A Pragmatic Guide,rails is a full stack open source web framework that enables you to create full featured sophisticated web based applications but with a twist a full rails application probably has less total code...,en,45.0,Dave Thomas,3.84,2005.0,28.0,7.0,...,2:124,1:56,total:2080,59.0,558.0,NaN,NaN,NaN,rails full stack open source web framework enables create full featured sophisticated web based applications twist full rails application probably less total code xml would need configure applicat...,"[rails, full, stack, open, source, web, framework, enables, create, full, featured, sophisticated, web, based, applications, twist, full, rails, application, probably, less, total, code, xml, woul..."
1,0448089416,"The Clue of the Screeching Owl (Hardy Boys, #41)",when dogs and men suddenly disappear and strange screams fill the night fantastic stories of vengeful ghosts are almost believable it is these strange happenings which bring frank and joe hardy to...,en,76934.0,Franklin W. Dixon,3.78,1962.0,1.0,1.0,...,2:94,1:13,total:1690,40.0,192.0,NaN,NaN,NaN,dogs men suddenly disappear strange screams fill night fantastic stories vengeful ghosts almost believable strange happenings bring frank joe hardy pocono mountains help father friendsolve mystery...,"[dogs, men, suddenly, disappear, strange, screams, fill, night, fantastic, stories, vengeful, ghosts, almost, believable, strange, happenings, bring, frank, joe, hardy, pocono, mountains, help, fa..."
2,0007121652,"Blue Mars (Mars Trilogy, #3)",winner of the hugo award for best novel one of the most enthralling science fiction sagas ever written kim stanley robinson s epic trilogy concludes with blue mars a triumph of prodigious research...,en,41131.0,Kim Stanley Robinson,3.93,2001.0,1.0,10.0,...,2:1535,1:424,total:25133,4.0,789.0,NaN,NaN,NaN,winner hugo award best novel one enthralling science fiction sagas ever written kim stanley robinson epic trilogy concludes blue mars triumph prodigious research visionary storytelling red planet ...,"[winner, hugo, award, best, novel, one, enthralling, science, fiction, sagas, ever, written, kim, stanley, robinson, epic, trilogy, concludes, blue, mars, triumph, prodigious, research, visionary,..."
3,1566914183,Moon Handbooks South Korea,from the bustling streets of seoul to the country s rich cultural heritage to the numerous mountain areas and pristine sandy beaches this handbook delivers in depth coverage of a travel hotspot,en,235559.0,Robert Nilsen,4.14,2003.0,26.0,11.0,...,2:0,1:0,total:22,2.0,860.0,NaN,NaN,NaN,bustling streets seoul country rich cultural heritage numerous mountain areas pristine sandy beaches handbook delivers depth coverage travel hotspot,"[bustling, streets, seoul, country, rich, cultural, heritage, numerous, mountain, areas, pristine, sandy, beaches, handbook, delivers, depth, coverage, travel, hotspot]"
4,0679801650,Babar and His Children,with the birth of triplets king babar and queen celeste experience the pleasures and pains of parenthood,en,356310.0,Jean de Brunhoff,4.04,1989.0,5.0,9.0,...,2:99,1:35,total:2099,0.0,40.0,NaN,NaN,NaN,birth triplets king babar queen celeste experience pleasures pains parenthood,"[birth, triplets, king, babar, queen, celeste, experience, pleasures, pains, parenthood]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13395,0374527709,The Art of Teaching Art to Children: In School and at Home,an inspiring and comprehensive guide to art education in this accessibly written guide for classroom and art teachers as well as parents nancy beal shows how to release children s marvelous gifts ...,en,177563.0,Nancy Beal,3.95,2001.0,30.0,8.0,...,2:6,1:2,total:115,13.0,240.0,NaN,NaN,NaN,inspiring comprehensive guide art education accessibly written guide classroom art teachers well parents nancy beal shows release children marvelous gifts expression beal believes children must fi...,"[inspiring, comprehensive, guide, art, education, accessibly, written, guide, classroom, art, teachers, well, parents, nancy, beal, shows, release, children, marvelous, gifts, expression, beal, be..."
13396,0807122262,The Dixie Association (Voices of the South),meet the arkansas reds the oddest craziest rowdiest bunch of sluggers ever to step out of a dugout the lineup consists of an ex con first baseman named hog a couple of real reds on loan from castr...,en,NaN,Donald Hays,NaN,1997.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['History'],meet arkansas reds oddest craziest rowdiest bunch sluggers ever step dugout lineup consists ex con first baseman named hog couple real reds loan castro young bucks way worn old timers way wild ind...,"[meet, arkansas, reds, oddest, craziest, rowdiest, bunch, sluggers, ever, step, dugout, lineup, consists, con, first, baseman, named, hog, couple, real, reds, loan, castro, young, bucks, way, worn..."
13397,0813517184,Professors at Play: Essays,robert wexelblatt writes in the preface to this book of his essays i write fiction when i am up to it poetry when i cannot help it letters when i must essays the rest of the time the pieces collec...,en,NaN,Robert Wexelblatt,NaN,1991.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['Literary Collections'],robert wexelblatt writes preface book essays write fiction poetry help letters must essays rest time pieces collected book composed wish share something fullness heart pleasure relief sometimes au...,"[robert, wexelblatt, writes, preface, book, essays, write, fiction, poetry, help, letters, must, essays, rest, time, pieces, collected, book, composed, wish, share, something, fullness, heart, ple..."
13398,0590743139,Magic Within,when junie meets miss quarterberry much is asked of her for miss quarterberry believes that junie may be able to enter the magic garden from which she herself is forever barred,en,NaN,Melody Collins Thomason,NaN,1989.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['Gardens'],junie meets miss quarterberry much asked miss quarterberry believes junie may able enter magic garden forever barred,"[junie, meets, miss, quarterberry, much, asked, miss, quarterberry, believes, junie, may, able, enter, magic, garden, forever, barred]"
13399,0813521351,"\Where Are You Going, Where Have You Been?\"" (Women Writers : Texts and Contexts)""",joyce carol oates s prize winning story where are you going where have you been takes up troubling subjects that continue to occupy her in her fiction the romantic longings and limited options of...,en,NaN,Joyce Carol Oates,NaN,1994.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['Fiction'],joyce carol oates prize winning story going takes troubling subjects continue occupy fiction romantic longings limited options adolescent women tensions mothers daughters sexual victimization wome...,"[joyce, carol, oates, prize, winning, story, going, takes, troubling, subjects, continue, occupy, fiction, romantic, longings, limited, options, adolescent, women, tensions, mothers, daughters, se..."

In [289]:
booksFromSelInEn.to_csv("booksFromSelInEn.csv", index = False)

## Final dataset with book's description without the data from selenium

In [ ]:
allBooksInEnglish = pd.concat([booksInEnglish,books3InEnglish], axis = 0, ignore_index = True).drop_duplicates(["ISBN"]).reset_index(drop=True)

allBooksInEnglish

allBooksInEnglish = allBooksInEnglish.drop_duplicates(["Name"]).reset_index(drop = True)

allBooksInEnglish.to_csv("allBooksInEnglish.csv", index = False)

allBooksInEnglish = pd.read_csv("allBooksInEnglish.csv")
allBooksInEnglish.shape